<div class="main_backgroud">
  <div class="" style="background: rgba(0,0,0,0.2);">
<div class="input-group col-md-6 col-md-offset-3 search_container">

   <h3 class="site_title">Top restaurants near you</h3>

   <div class="form-group">
     <div class="col-md-9 clear_padding">
       <input type="text" id="place_search" class="form-control">
     </div>
     <div class="col-md-1 my_location">
       <i data-id="id_0" class="material-icons pull-right my_location" ng-click="call_location()">my_location</i>
     </div>
        <div class="col-sm-2 search_button_container">
          <button class="btn btn-default search_button" ng-click="callAPI()">Search!</button>
        </div>
  </div>
</div>
</div>
</div>
